<script runat="server">
    import { getContext, setContext } from "../lib/bun/middleware/handlebar.js";

    export default async function(request) {
        const cookies = request.cookies;
        const session_id = cookies.get(`session_id`)

        if (request.method === "POST") {
            setContext(`session-${session_id}`, null);
            const user = getContext(`session-${session_id}`);
            return new Response("", {
                headers : {
                    "Location" : "/login.html",
                    "Set-Cookie" : "session_id=;",
                    "Cache-Control" : "no-cache"
                },
                status : 301,
            })
        }

        const user = getContext(`session-${session_id}`);
        if (!user) return Response.redirect("/login.html", 301);
        return { username : user.username };
    }
</script>
<!DOCTYPE html>
<html>
    <head>
        <title>Remote function</title>
    </head>
    <body>
        <h1>Welcome! {{ data.username }}</h1>
        <form action="/index.html" method="POST">
            <button>Log Out</button>
        </form>
        <h1 id="h1_el"></h1>
        <input id="file_input_el" type="file" accept="image/jpg, image/png, image/webp"/>
        <button id="upload_button_el">Upload Image</button>
        <button id="delete_button_el">Delete Image</button>
        <script src="index.js" type="module"></script>
    </body>
</html>
