<script runat="server">
    import { setContext } from "../lib/bun/middleware/handlebar.js";

    const example_users = [
        { id: 1, username: 'admin', admin: true, password: 'admin' },
        { id: 2, username: 'john', admin: false, password: 'dev' },
        { id: 3, username: 'albert', admin: false, password: '35s3f' },
    ]

    export default async function(request) {
        if (request.method !== "POST") return {};

        const body = await request.formData();
        const user = example_users.filter((user) => user.username === body.get("username"))[0];
        if (!user || body.get("password") !== user.password) return { error : "Invalid username or password" }

        const cookies = request.cookies;
        const session_id = Math.random().toString(36).substring(5);

        setContext(`session-${session_id}`, user);

        return new Response("", {
            headers : {
                "Location" : "/",
                "Set-Cookie" : `session_id=${session_id};`,
                "Cache-Control" : "no-cache"
            },
            status : 301,
        })
    }
</script>
<!DOCTYPE html>
<html>
    <head>
        <title>Remote function</title>
    </head>
    <body>
        <form action="/login.html" method="POST">
            <div>
                <label>Username</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password"/>
            </div>
            {{#if Boolean(data.error)}}
                <p style="color: red;">{{ data.error }}</p>
            {{/if}}
            <button>Log In</button>
        </form>
</html>
